@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Extending Colors */
  --color-accent-blue-light: #3b82f6;
  --color-accent-blue-DEFAULT: #2563eb; /* The DEFAULT key becomes part of the variable name */
  --color-accent-blue-dark: #1d4ed8;

  /* Extending Fonts */
  --font-family-inter: 'Inter', sans-serif;
}